.AddEntry {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.CancelAddEntry {
	position:absolute;
	top:0;
	right:0;
}

.PasswordParameters {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
