.EntryList {
	margin-bottom: 48px
}

.ButtonCol {
	display: flex;
	justify-content: flex-end;
}

.SecretBack, .SecretCancelEdit, .EntryCancelDelete, .CancelAddEntry, .CancelRandom{
	position:absolute;
	top:0;
	right:0;
}

.DeleteEntry {
	color: red;
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 0%;
	padding: 12px 16px;
	transform: translate(0%, -50%);
}

.RandomPassword {
	color: blue;
	cursor: pointer;
	position: absolute;
	top: 50%;
	padding: 12px 16px;
	transform: translate(0%, -50%);
}

.CopyValue {
	color: green;
	cursor: pointer;
	position: absolute;
	top: 50%;
	padding: 12px 16px;
	transform: translate(0%, -50%);
}

.HideShow {
	color: blue;
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 0%;
	padding: 12px 16px;
	transform: translate(0%, -50%);
}

.CopyValue:hover, .DeleteEntry:hover, .RandomPassword:hover, .HideShow:hover {
	background: #bbb;
}

.ConfirmDeleteEntry, .EntryType {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.NavTitle {
	height: 48px;
}

.Title {
	color: #FFFFFF;
	font-size: 32px;
}
